@import '../vars.scss';

.home-wrapper {
    padding: 80px 5%;
    justify-content: space-evenly;
    
    .image-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $font_size_image_text;
        text-align: center;
        color: $font_color_white;
    }
    .home-image-wrapper:hover{
        opacity: 0.7;
    }
}