@import 'vars.scss';

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: $font_color_black;
    &:visited{
        color: inherit;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $footer_color_black;
    color: $font_color_grey;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $title_font_family;
    font-size: $font_size_sm;
    font-weight: $footer_wieght;
    align-items: center;
    border-color: $color_black;

    .footer-col {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        p {
            margin: 0;

            .footer-content {
                font-family: $text_font_family;
                vertical-align: middle;
            }

            a{
                padding-top: 5px;
                svg {
                    width: 22px;
                    height: 20px;
                    padding-left: 10px;
                }
            }            
        }

        .footer-content-row {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .footer-title {
            color: $font_color_white;
            font-size: $font_size_md;
        }
    }

    .left {
        margin-left: 20px;
    }

    .right {
        margin-right: 20px;
    }
}

.padding-div {
    display: block;
    padding: 20px 0;
    height: 20px;
    width: 100%;
}