$color_white: #fcfefe;
$color_purple: #7e6bc4;
$color_lg_blue: #6eb6ff;
$color_black: #222831;

$font_color_black: #1e2022;
$font_color_white: #f4f6ff;
$font_color_grey: #ad9d9d;
$font_color_green: #14b1ab;

$footer_color_black: #222831;


$text_font_family: 'Arial, Helvetica, sans-serif' !default;
$appbar_title_font_family: 'Gloria Hallelujah', sans-serif;
$page_title_font_family: 'Krona One', sans-serif;

$title_weight: 500;
$footer_wieght: 50;

$font_size_sm: 10px;
$font_size_md: 12px;
$font_size_lg: 16px;

$font_size_image_text: 56px;

$font_size_footer_title: 14px;

$box_shadow_card: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);