$color_white: #fcfefe;
$color_purple: #7e6bc4;
$color_lg_blue: #6eb6ff;
$color_black: #222831;

$font_color_black: #1e2022;
$font_color_white: #f4f6ff;
$font_color_grey: #ad9d9d;

$footer_color_black: #222831;


$text_font_family: Arial, Helvetica, sans-serif !default;
$title_font_family: 'Gloria Hallelujah';

$title_weight: 500;
$footer_wieght: 50;

$font_size_sm: 10px;
$font_size_md: 12px;

$font_size_footer_title: 14px;
