$color_white: #fcfefe;
$color_purple: #7e6bc4;
$color_lg_blue: #6eb6ff;

$font_color_black: #1e2022;


$text-font-family: Arial, Helvetica, sans-serif !default;
$title-font-family: 'Gloria Hallelujah';

$title_weight: 500;
